@model ChildrensActivityLog2.ViewModels.ChildDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Child</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd>
            @Model.DateOfBirth.Year-@Model.DateOfBirth.Month-@Model.DateOfBirth.Day
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrensPlayEvents)
        </dt>

        @foreach (var item in Model.PlayEvents)
         {
            <dd>
               @item.StartDate.Year-@item.StartDate.Month-@item.StartDate.Day @item.StartDate.Hour:@item.StartDate.Minute: @item.Title
            </dd>
         }

        <dt>
            @Html.DisplayNameFor(model => model.Meals)
        </dt>
       @foreach (var item in Model.Meals)
       {
        <dd>
            @item.From.Year-@item.From.Month-@item.From.Day @item.From.Hour:@item.From.Minute: @item.ToEat, @item.ToDrink
        </dd>
       }
        
        <dt>
            @Html.DisplayNameFor(model => model.SleepingPeriods)
        </dt>
        @foreach (var item in Model.SleepingPeriods)
        {
            <dd>
                @item.From.Year-@item.From.Month-@item.From.Day @item.From.Hour:@item.From.Minute: @item.TypeOfSleepingPeriod
           
            </dd>
        }
        <dt>   </dt>
        <dd>   </dd>
</dl>
</div>
<div>
    <p>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </p>
</div>
