@model ChildrensActivityLog2.Models.ChildrensPlayEvents

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChildrensPlayEvents</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Child)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Child.FirstName),
            @Html.DisplayFor(model => model.Child.LastName),
            @Html.DisplayFor(model => model.Child.DateOfBirth.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayEvent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayEvent.Title),
            @Html.DisplayFor(model => model.PlayEvent.StartDate),
            @Html.DisplayFor(model => model.PlayEvent.Description)
        </dd>
    </dl>
</div>
<div>   
    <a asp-action="Index">Back to List</a>
</div>
